@model List<ExpensesItemListDto>

<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name Category</th>
				<th scope="col">Data Expension</th>
				<th scope="col">Count</th>
			</tr>
		</thead>
		<tbody>
			@{
				int i = 1;
				@foreach (var item in Model)
				{
					<tr>
						<td scope="row">@i</td>
						<td>@item.CategoryName</td>
						<td>@item.Date</td>
						<td>@item.Count</td>
					</tr>
					i++;
				}
			}
    <tr>
  </tbody>
</table>
</div>