@model IncomeDto

<form asp-controller="Income" asp-action="DeleteIncome" method="post">
    <input asp-for="IncomeId" hidden/>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">CategoryName</label>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Date</label>
        <h3>@Model.Date</h3>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Count</label>
        <h3>@Model.Count</h3>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Description</label>
        @{
            if (Model.Description != "string")
            {
                        <h3>@Model.Description</h3>
            }
            else
            {
                        <h3>Description is empty</h3>
            }
        }
    </div>

    <a asp-controller="Home" asp-action="" role="button" class="btn btn-primary btn-lg">Back to Home</a> <!--Выделение + Tab и Tab + Shift-->
    <input class="btn btn-primary btn-lg" type="submit" value="Delete">
</form>