@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
This is home view!
<html>
    <head>
    </head>
    <body>
        <div style="width: 800px;"><canvas id="acquisitions"></canvas></div>
        <div style="width: 800px;"><canvas id="acquisitions_2"></canvas></div>
        <div style="width: 800px;"><canvas id="acquisitions_3"></canvas></div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <!--<script src="js/acquisitions.js"></script>--><script src="js/acquisitions.js"></script>
        <script src="js/GetDataCategories.js"></script>
    </body>
</html>


